body{
   background-image:linear-gradient(rgb(255, 230, 194),gold);
}
header{
    font-size: 50;
    text-align: center;
    font-weight: bold;
}
div{
    margin:30px;
    padding:5px;
    border-style:solid;
    border-width:5px;
    border-color:rgb(231, 92, 6);
    background-color: floralwhite;

}
h1{
    font-size: 40;
    text-align: center;
    font-weight: bold;
}
a{
    text-align:center;
}
ul{
    margin:70px;
    padding:10px;
    border-style:solid;
    border-width:5px;
    border-color:chartreuse;
    background-color: floralwhite;
}

li a:hover{
    background-color: aliceblue;
}

    .topnav {
        overflow: hidden;
        background-color: floralwhite;
        border-color:rgb(231, 92, 6);
        margin:0px;
      }
      
      .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .topnav a:hover {
        background-color: aliceblue;
        text-decoration: none;
        position: sticky;
        color: black;
      }
      
      .topnav a.active {
        background-color: aliceblue;
        color: black;
      }
  .dropdown{
    background-color:rgb(231, 92, 6);
  }
  .dropdown-content{
    display: none;
  }
 .show{
    display:inline;
 }
 button{
    background-color: rgb(231, 92, 6);
    border:0px;
    padding:2px;
    margin:0px;
    font-size: 16;
 }
 .a{
  background-color: rgb(249, 168, 118);
  border:2px;
  border-color: brown;
  margin:5px;
  padding:2px;
 }