body{
    margin:5px;
    background-image:url(images/leaves-background-nature-yellow-preview.jpg);
    background-repeat:repeat-y;
    background-size: auto;
}
header{
    font-size: 50;
    text-align: center;
    font-weight: bold;
}
div{
    margin:70px;
    padding:10px;
    border-style:solid;
    border-width:5px;
    border-color:chartreuse;
    background-color: floralwhite;

}
h1{
    font-size: 40;
    text-align: center;
    font-weight: bold;
}
a{
    text-align:center;
}