body{
    margin:5px;
    background-image:url(images/leaves-background-nature-yellow-preview.jpg);
    background-repeat:repeat-y;
    background-size: auto;
    background-position: top;
}
header{
    font-size: 50;
    text-align: center;
    font-weight: bold;
}
div{
    margin:70px;
    padding:10px;
    border-style:solid;
    border-width:5px;
    border-color:chartreuse;
    background-color: floralwhite;

}
h1{
    font-size: 40;
    text-align: center;
    font-weight: bold;
}
a{
    text-align:center;
}
ul{
    margin:70px;
    padding:10px;
    border-style:solid;
    border-width:5px;
    border-color:chartreuse;
    background-color: floralwhite;
    list-style-type: none;
}
li{
    display:inline;
    padding:10px;
}
li a:hover{
    background-color: aliceblue;
}

.topnav {
    overflow: hidden;
    background-color: floralwhite;
    border-color: chartreuse;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: aliceblue;
    text-decoration: none;
    position: sticky;
    color: black;
  }
  
  .topnav a.active {
    background-color: aliceblue;
    color: black;
  }